/* *{
  Box size:border-box
  Font family: roboto/
  Font size: 24px
  Box sizing:"border-box"
} */

.common{
  display: flex;
  flex-direction: row ;
  background-color: bisque;
  border: 5px solid black;
}


/* NavBar */

.navbar {
  display: flex; 
  background-color: aqua;
  flex-direction: row;
  gap: 50px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  background-color: bisque;
  width: 10vw;
}

.navBtns{
  background-color: black;
  width: 70vw;
  display: flex; 
  background-color: aqua;
  flex-direction: row;
  gap: 10px;
}

/* Hero Section */

.leftSide {
  display: felx;
  background-color: rgb(103, 182, 69);
  width: 50vw;
  /* height: 80vh; */
}

.rightSide{
  display: felx;
  background-color: rgb(235, 76, 76);
  width: 50vw;
  /* height: 80vh; */
}


/* Testimoniaks */

.userImg{
  display: flex;
  flex-direction: row;
}


/* FAQ  */

.faq{
  display: grid;
  grid-template-columns: repeat(2,50%);
}